* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    list-style: none;
}

body {
    background-color: hsl(297deg 80% 16%);
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg,
            hsl(206deg 29% 9%) 0%,
            hsl(208deg 49% 10%) 11%,
            hsl(210deg 63% 11%) 22%,
            hsl(214deg 68% 12%) 33%,
            hsl(220deg 62% 14%) 44%,
            hsl(231deg 49% 17%) 56%,
            hsl(248deg 45% 19%) 67%,
            hsl(265deg 51% 19%) 78%,
            hsl(282deg 60% 18%) 89%,
            hsl(297deg 80% 16%) 100%);
    background-size: 100%;
    width: 100%;
    height: calc(100vh - 95px);
    /*todo menos el nav*/
}

/* ------------------ NAVBAR ------------------ */

.header {
    background-color: #11191f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 95px;
    padding: 5px 5%;

    position: sticky;
    top: 0;
    z-index: 999;

}

.header .logo img {
    margin: 10px;
    margin-top: 15px;
    height: 80px;
    width: auto;
    border: white 2px solid;
    border-radius: 50%;
    transition: all 0.3s;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

.header .nav-links li {
    padding: 10px 20px;
    transition: all 0.3s;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #394974;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .btn button {
    font-weight: 700;
    color: #394974;
    padding: 9px 25px;
    background: white;
    border: #002544;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 15px;
}

.header .btn button:hover {
    transform: scale(1.1);
    background: #394974;
    color: #002544
}

.checkbtn {
    font-size: 40px;
    color: white;
    float: right;
    line-height: 95px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#puerta {
    transition: all 0.3s;
    cursor: pointer;
}

#puerta:hover {
    transform: scale(1.3);
    fill: brown;
}

#close:hover::before {
    content: "Close session";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(50%);
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
}

@media (max-width: 1010px) {

    .checkbtn {
        display: block;
    }

    .header .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #11191f;
        opacity: .9;
        top: 95px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
    }

    .header .nav-links li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }

    .header .nav-links li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }
}

/* ------------------ NAVBAR END ------------------ */