body{
    display: flex;
    /*PROVISIONAL*/
    align-items: center;
    justify-content: center;
}

#prueba {
    text-align: center;
    line-height: 100px; /* Alineación vertical del contenido */
}

