* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    list-style: none;
}

.container {
    background-image: linear-gradient(180deg,
            hsl(206deg 29% 9%) 0%,
            hsl(207deg 41% 11%) 10%,
            hsl(209deg 49% 13%) 20%,
            hsl(211deg 53% 15%) 30%,
            hsl(214deg 53% 17%) 40%,
            hsl(218deg 49% 20%) 50%,
            hsl(218deg 49% 22%) 60%,
            hsl(218deg 49% 24%) 70%,
            hsl(218deg 49% 26%) 80%,
            hsl(218deg 49% 28%) 90%,
            hsl(218deg 49% 30%) 100%);
    background-size: 100%; /*todo menos el nav*/
    width: 100%;
    height: calc(100vh - 95px);
}

/* ------------------ NAVBAR ------------------ */

.header {
    background-color: #11191f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 95px;
    padding: 5px 10%;
}

.header .logo img {
    margin: 10px;
    margin-top: 15px;
    height: 80px;
    width: auto;
    border: white 2px solid;
    border-radius: 50%;
    transition: all 0.3s;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

nav ul {
    float : right;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

.header .nav-links li {
    padding: 10px 20px;
    transition: all 0.3s;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #394974;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .btn button {
    font-weight: 700;
    color: #394974;
    padding: 9px 25px;
    background: white;
    border: #002544;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 15px;
}

.header .btn button:hover {
    transform: scale(1.1);
    background: #394974;
    color: #002544
}

.checkbtn{
    font-size:40px;
    color:white;
    float:right;
    line-height:95px;
    margin-right:10px;
    cursor:pointer;
    display:none;
}

#check{
    display:none;
}

@media (max-width: 1050px){

    .checkbtn{
        display:block;
    }
    .header .nav-links{
        position:fixed;
        height:100vh;
        width:100%;
        background:#11191f;
        top:95px;
        left:-100%;
        text-align:center;
        transition:all .5s;
        z-index:2;
    }

    .header .nav-links li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .header .nav-links li a{
        font-size:20px;
    } 

    #check:checked ~ ul{
        left:0;
    }
}

/* ------------------ NAVBAR ------------------ */

#prueba {
    text-align: center;
    line-height: 100px;
    /*centrarlo en los dos ejes*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

#prueba h1{
    font-size: 40px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

